
<!DOCTYPE html>
<html>
<head>
  <title>ACAsrchApp</title>
  
  	  <%= javascript_include_tag 'application' %>
  	  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
      <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
  
	  <%= csrf_meta_tags %>
</head>

  <body>
  	
	<div class="container">
			  <ul class="nav nav-tabs">
				 <% if user_signed_in? %>
					<li>Hello <%= current_user.name %></li>
						<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
				 <% else %>
					<li><%= link_to 'Sign in', new_user_session_path %></li>
					<li><%= link_to 'Sign up', new_user_registration_path %></li>
				 <% end %> 
				 <li><%= link_to 'Reviews', reviews_show_path %></li>
			 </ul>
<h3><strong> 2016 open enrollment period ended January 31, 2016. Still need health insurance coverage? <%= link_to 'VISIT', ('https://www.healthcare.gov/screener/') %></strong></h3>
		<div class="container">
			 <%= yield %>
		</div>
	</div>

  </body>
 
</html>
